.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .column {
    flex: 1; /* Use flex: 1 to allow columns to occupy the full row */
    padding: 10px;
  }
  
  .card {
    width: 100%; /* Card takes the full width of the column */
    height: 300px; /* Fixed height for the card */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Allows for scroll if content overflows */
  }
  
  h3 {
    margin-top: 0;
  }
  input {
    margin-bottom: 15px; /* Adjust the space between input fields */
    width: 100%; /* Make inputs take full width */
    padding: 10px; /* Add padding for better usability */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  