.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    width: 80%;
    margin-left: 220px; /* Adjusted to make space for sidebar */
  }
  
  .styled-table thead tr {
    background-color: #333;
    color: #fff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
  }
  